<h1>Step 2: Select your config and options</h1>
Config:
<select #config (change)="service.selectConfig(config.value)">
  <option [value]="0">Choose...</option>
  @for(config of service.selectableOptions()?.configs; track config.id) {
  <option [value]="config.id">{{ config.description }}</option>
  }
</select>
@if (service.currentConfig()) {
<div>
  Range: {{ service.currentConfig()?.range }} miles - Max speed:
  {{ service.currentConfig()?.speed }} mph - Cost: ${{
    service.currentConfig()?.price
  }}
</div>
}

<div>
  Tow hitch?
  <input type="checkbox" />
  <br />
  Yoke steering wheel? <input type="checkbox" />
</div>
