<h1>Step 3: Summary</h1>
<h3>Your Tesla {{ service.currentCar()?.description }}</h3>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div>
        <b>{{ service.currentConfig()?.description }}</b>
      </div>
      <div>
        Range: {{ service.currentConfig()?.range }} - Max speed:
        {{ service.currentConfig()?.speed }}
      </div>
    </div>
    <div class="col-sm-6">
      {{ service.currentConfig()?.price | currency : "USD" : true }}
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <b>{{ service.currentColor()?.description }}</b>
    </div>
    <div class="col-sm-6">
      {{ service.currentColor()?.price | currency : "USD" : true }}
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <b>Yoke Steering Wheel</b>
    </div>
    @if (service.currentWheelIsYoke()) {
    <div class="col-sm-6">$1,000.00</div>
    }
  </div>

  <div class="row">
    <div class="col-sm-6">
      <b>Tow Hitch Package</b>
    </div>
    @if (service.currentTowHitchIsSelected()) {
    <div class="col-sm-6">$1,000.00</div>
    }
  </div>
  <hr />

  <div class="row">
    <div class="col-sm-6">
      <b>TOTAL COST</b>
    </div>
    <div class="col-sm-6">
      <b>{{ service.totalPrice() | currency : "USD" : true }}</b>
    </div>
  </div>
  <hr />
</div>
