<h1>Step 3: Summary</h1>
<h3>Your Tesla Cybertruck</h3>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div><b>Dual Motor All-Wheel Drive</b></div>
      <div>
        Range: 340 miles - Max speed: 112
      </div>
    </div>
    <div class="col-sm-6">
      $79,990.00
    </div>
  </div>

    <div class="row">
      <div class="col-sm-6">
        <b>Satin White Color</b>
      </div>
      <div class="col-sm-6">
        $6,500.00
      </div>
    </div>

  <div class="row">
    <div class="col-sm-6">
           <b>Yoke Steering Wheel</b>
    </div>
    <div class="col-sm-6">
      $1,000.00
    </div>
  </div>

    <div class="row">
      <div class="col-sm-6">
          <b>Tow Hitch Package</b>
      </div>
      <div class="col-sm-6">
        $1,000.00
      </div>
    </div>
  <hr/>

  <div class="row">
    <div class="col-sm-6">
        <b>TOTAL COST</b>
    </div>
    <div class="col-sm-6">
      $88,490.00
    </div>
  </div>
  <hr/>
</div>
