<h1>Step 1: Choose your Model and color</h1>
Model:
<select #model (change)="service.selectModel(model.value)">
  <option [value]="0">Choose...</option>
  @for(model of service.allModels(); track model.code) {
    <option [value]="model.code">{{model.description}}</option>
  }
</select>


@if (service.currentCar()) {
  Color:
  <select #color (change)="service.selectColor(color.value)">
    @for(color of service.selectableColors(); track color.code) {
      <option [value]="color.code">{{color.description}}</option>
    }
  </select>
}



